@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Jost:wght@300&family=Playfair+Display&display=swap');

body {
    font-size: 1.5em;
    color: #373737;
    font-family: "Jost", sans-serif;
    background-image: url(images/marble.jpg);
}
body#home {
    background-image: url(images/plant3.png);
    background-size: cover
}
h1 {
    text-align: center;
}

h2 {
    margin-left: 1.3em;
    
}
main {
    margin: 0 20% 0 20%;
}
img {
    width: 400px;
}
img.colors {
    height: 150px;
}

/* HEADER */
header, div.headertext{
    font-family: "Playfair Display", serif;
    color: white;
    background-color: #303030;
    font-size: 1.8em;
    color: white;
    padding: 10px;
    text-align: center;
}
div.heading {
    border: #272626 15px solid;
}
div.flexible {
    display:flex; 
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
p.motto {
    margin: -10px 0 -15px 0;
    padding: 0px;
    size: 1em;
    font-style: italic;
    font-family: "Alex Brush", "Playfair Display", serif;
}
div.link, div.thelink {
    color: white;
    display: block;
    border: 2px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin:.5em;
    font-size: large;
}
div.thelink, button.thelink {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.26);
    box-shadow: .08em .08em .3em rgba(0, 0, 0, 0.705)
}
a:link {
    color:rgb(197, 182, 133);
    text-decoration: none;
}
a:visited {
    color:rgb(197, 182, 133);
}
a:hover, a:active{
    color:#DCD0C0;
    text-decoration: line-through;
    text-decoration: none;
}


/* HOME */
div.logo {
    position: absolute;
    top: 25px;
    left: 50px;
}
img#logos {
    width: 200px;
}
div.logo#homelogo {
    top: 25px;
    left:100px;
}
div.logo#homelogo img {
    width: 250px;
}
div.intro {
    margin: 2em 25% .5em 25%;
    text-align: center;
    padding: 10px 35px 5px 35px;
    background: rgba(255, 255, 255, 0.24);
}
p#face {
    font-size: 60px;
    font-weight: bold;
    line-height: 0px;
}
p#click {
    font-size: 30px;
    font-weight: bold;
}
div.homecontent {
    float: right;
    width: 1200px;
    margin-right: -10vmax;
}
img#arrow {
    width: 50px;
}
p#biglink a:link {
    font-family: "Playfair Display", serif;
    background-color: rgb(238, 206, 206);
    border: 3px rgb(240, 203, 192) solid; 
    display: block;
    border-radius: 50px;
    padding: .5em 1em;
    font-size: 2em;
    width: fit-content;
    box-shadow: .08em .08em .2em rgba(61, 38, 4, 0.219);
    color: white
}
div#quizlink {
    display:flex; 
    justify-content: center;
}
p#quiz a:link, a#quiz:visited, a#quiz:hover, a#quiz:active {
    color: white;
}

p#biglink a:hover {
    background-color: #FEDCD2;
}

/* QUIZ */
ol {
    background-color: rgba(255, 255, 255, 0.699);
    padding: 20px 0px 20px 55px;
    border: 4px #DCD0C0 inset;
    list-style: none;
}
p.questions {
    margin: 15px 5% 5px 5%;
    text-align: center;
    font-size: 1.5em;
}
li {
    margin-right: 20px;
}
li#name {
    text-align: center;
    margin-top: 40px;
    list-style: none;
}
input {
    margin-right: 15px;
}
div.colors {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 20px 30% 0 30%;
    background-color: white;
    border: 4px #DCD0C0 inset;
    padding: 30px 0px 30px 10px;
}
button.submit {
    margin: 20px 0 20px 0;
    background-color: white;
    border: 4px #DCD0C0 inset;
    padding: 10px 10px 10px 10px;
    font-family: "Playfair Display", serif;
    font-size: 2em;
    border-radius: 5px;
}
input.colorselector {
    border: 0px ;
    width: 50px; 
    height: 50px;
}
div#submitbutton {
    display: flex;
    justify-content: space-around;
}

ol.quizflex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
ol.quizflex img{
    padding: 15px;
    padding-right: 60px;
}
ol.quizflex#bedding img{
    height: 255px;
}
ol.quizflex#desk img{
    height: 275px;
}
ol.quizflex#wall img{
    height: 245px;
}
ol.quizflex#vibe img{
    height: 305px;
}
ol.quizflex#rug img{
    height: 275px;
}

/* Contact */
form {
    background-color: white; 
    padding: 20px;
    margin: 0 20% 0 20%;
    border: 4px #FEDCD2 inset;
}



ul.essentials {
    list-style-type: none;
}

/* ESSENTIALS */
button#essentials {
    color: rgba(197, 182, 133);
    display: block;
    border: 2px solid white;
    border-radius: .5em;
    padding: .5em 1em;
    margin:.5em;
    font-size: large;
    background-color: transparent;
    font-family: "Playfair Display", serif;
}

button#essentials:hover, button#essentials:focus {
    background-color: rgba(255, 255, 255, 0.26);
    box-shadow: .08em .08em .3em rgba(0, 0, 0, 0.705)
}

div.dropdown {
    position: relative;
    display: inline-block;
}

div.essentialspages {
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    background-color: #373737;
    max-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}
div.essentialspages a {
    color: white;
    text-decoration: none;
    border-top: 1px white solid;
    font-size: .35em;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0 20px 0 20px;
}

div.essentialspages a:hover {
    background-color: rgba(197, 182, 133);
}
.show {
    display: flex;
}

p#essentialsdescription {
    text-align: center;
    background-color: white;
    border: 4px #DCD0C0 inset;
    margin: 50px 20% 50px 20%;
    padding: 20px;
}

a#HomeNext {
    text-decoration: underline;
    font-weight: bold;
    color:  #373737;
}

a.Nextbutton, a.Nextbutton2 {
    color: rgba(197, 182, 133);
    background-color: #373737;;
    display: block;
    border: white 2px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin:.5em;
    font-size: large;
    font-family: "Playfair Display", serif;
    width: fit-content;
}

a.Nextbutton2 {
    margin-right: 5em;
}

a.Backbutton, a.Backbutton2 {
    color: rgba(197, 182, 133);
    background-color: #373737;;
    display: block;
    border: white 2px solid;
    border-radius: .5em;
    padding: .5em 1em;
    margin:.5em;
    font-size: large;
    margin-left: 1em;
    font-family: "Playfair Display", serif;
    width: fit-content;
}

a.Backbutton2 {
    margin-left: 5em;
}
div#checklist {
    display: flex;
    justify-content: center;
}
div.backnext {
    display: flex;
    justify-content: space-around;
}
li.item {
    font-family: "Playfair Display", serif;
    font-size: 1.5em;
    border-bottom: #FEDCD2 4px solid;
    width: fit-content;
    margin: 0px;
    margin-top: 10px;
}
h2.category, a.printable {
    text-align: center;
    font-family: "Alex Brush", "Playfair Display", serif;
    font-size: 3em;
    margin-left: 0px;
    margin-bottom: -10px;
}
a.printable {
    color:  #373737;
    font-size: 2em;
    font-family: "Playfair Display", serif;
    margin-bottom: 20px;
    text-decoration: underline;
}
table {
    width: 100%;
    table-layout: fixed; 
    background-color: white;
    border: 4px #DCD0C0 inset;
}

/* ABOUT US */
p#theteam {
    background-color: white;
    border: 6px #DCD0C0 inset;
    padding: 25px;
    text-align: center;
    margin-bottom: -20px;
}
div.aboutus {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
div.creators {
    float: left;
    margin: -10px 15px 0px 15px;
    width: 300px;
    background-color: white;
    margin-top: 50px;
    padding: 10px;
    padding-right: 25px;
    border: 4px #DCD0C0 inset;
}
div.creators img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: .5em;
    width: 300px;
}
div.thenames p{
    border-top: 2px solid;
    border-left: 2px solid;
    padding: 10px;
    width: fit-content;
    font-family: "Playfair Display", serif;
    font-style: italic;
    text-align: center;
    margin: 0px;
    margin: 20px 0 0 20px;
    font-size: 1.5em;
}
div.description {
    text-align: center;
    padding: 10px;
}
p.essentials {
    margin-right: 1.5em;
}

/* BUDGET */
div.budget {
    background-color: white;
    border: 4px #DCD0C0 inset;
    margin-top: 30px;
    padding: 0 30px 0 30px;
}
div.budget h2 {
    margin-left: 90px;
    font-family: "Playfair Display", serif;
}
span.number {
    display: block;
    position: absolute;
    background-color: #FEDCD2;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    margin-left: -70px;
    box-shadow: .08em .08em .3em rgba(0, 0, 0, 0.089)
}
strong#essentials {
    font-size: 1em;
}
span.number#last {
    background-color: rgb(241, 209, 199); 
}
div.budget#two {
    background-color: rgb(253, 250, 250);
}
div.budget#three {
    background-color: rgb(253, 247, 247);
}
div.budget#four {
    background-color: rgb(255, 245, 245);
}
div.budget#five {
    background-color: rgb(255, 241, 241);
}

/* FOOTER */
footer.flexible2 {
    clear: right;
    display:flex;
    background-color: #373737;  
    text-align: center;
    justify-content: center;
    color: white;
    font-size: small;
    font-family: "Playfair Display", serif;
    margin-top: 2em;
    padding: 1em 0;
}
div strong {
    font-size: 1.4em;
    margin-bottom: 10px;
}
ul#essentials {
    list-style-type: none;
}
div.smallfooter {
    display: none;
}
img#smalllogos {
    width: 100px;
    margin-bottom: -15px;
}

/* BROWSE */
div.rowrooms, div.rowdesks, div.rowclosets {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 16px;
    background: rgba(255, 255, 255, 0.863);
    border: 4px #DCD0C0 inset;
}
div.column {
    flex: 23%;
    max-width: 23%;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
main.browse {
    margin: 0 10%;
}

/* MEDIA QUERIES */
@media (min-width: 2200px){
    main {
        margin: 0 25%;
    }
}
@media (max-width: 1800px) {
    main.homemain{
        margin: 0px;
    } 
    img {
        width: 300px;
    }
    ol.quizflex#rug img{
        height: 250px;
    }
}

@media (max-width: 1500px) {
    div.intro {
        background: rgba(255, 255, 255, 0.918);
    }
    div.logo#homelogo {
        top: 50px;
        left:50px;
    }
    div.logo#homelogo img {
        width: 200px;
    }
}
@media (min-height: 1300px) {
    footer.flexible2#shortscreen {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
    }
}

@media (max-width: 1300px) {
    div.smallfooter {
        display: block;
    }
    div.logo, div.largefooter {
        display: none;
    }
    div.homecontent{
        float: none;
        margin: 0px;
        width: fit-content;
        padding: 0px;
    }
    footer.flexible2#shortscreen {
        position: static;
    }
}
@media (max-width: 800px) {
    div.column {
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    div.column {
        flex: 100%;
        max-width: 100%;
    }
}



div.theresults {
    display: none;
    margin: 0 15%;
    text-align: center;
}
div#results {
    background: rgba(255, 255, 255, 0.863);
    border: 4px #DCD0C0 inset;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}
ul.resultschecklist {
    list-style: none;
    margin-bottom: -25px;
}
div.thename {
    display: none;
    text-align: center;
    width: 100%;
}
h2.category#tip {
    margin-bottom: -40px;
}
h2.category#tipnumbers {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    margin-bottom: 10px;
    border-top: 2px solid #FEDCD2;
    padding-top: 15px;
}